<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>Forgot Password</title>
</head>

<body>
<section layout:fragment="content">

    <div class="min-h-[calc(100vh-4.25rem)]
                flex items-center justify-center px-4">

        <div class="w-full max-w-md bg-white
                    p-6
                    border-t-4 border-indigo-500
                    rounded-2xl
                    shadow-lg">

            <h5 class="text-2xl font-semibold text-center">
                Forgot Password
            </h5>

            <p class="text-sm text-gray-500 text-center mt-1">
                Enter registered email
            </p>

            <form method="post"
                  th:action="@{/auth/forget_password}"
                  class="mt-6 space-y-4">

                <div th:replace="~{message :: message}"></div>

                <input type="email"
                       name="email"
                       placeholder="Email"
                       class="w-full px-4 py-3 border rounded-lg"
                       required>

                <button class="w-full py-3 bg-indigo-600 text-white rounded-lg">
                    Send Reset Link
                </button>

            </form>
        </div>
    </div>

</section>
</body>
</html>
